/* Style the header */

body{
  color: rgb(62, 62, 62);
}

.header {
  background-color: #31305E;
  padding: 10px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}

.header h1{
  display: inline-block;
}

.header img{
  border: 2px solid white;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
}

.section{
  padding: 0 50px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .section {
    padding: 0 20px;
  }
}

