.wrapper{
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(14, 1fr); /* create 18 columns, make them all 1 fraction or 18/100 in width. */
  max-width: 600px;
  max-height:10000px;
  margin:1em auto;
  transition: all 1s ease-out;
}

.wrapper.-hidden{
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
}

.wrapper .item{
  position: relative;
  height: 27px;
}

.wrapper .item > span{
  padding: 3px 6px;
  color: white;
  font-weight: 600;
  /* width: 12px; */
  /* height: 12px; */
  border-radius: 7px;
}

.wrapper .item span.-apprentice{
  background-image: linear-gradient(-45deg, #f0a, #dd0093);
}

.wrapper .item span.-guru{
  background-image: linear-gradient(-45deg, #aa38c6, #882d9e);
}

.wrapper .item span.-master{
  background-image: linear-gradient(-45deg, #5571e2, #294ddb);
}

.wrapper .item span.-enlightened{
  background-image: linear-gradient(-45deg, #0af, #0093dd);
}

.wrapper .item span.-burned{
  background-image: linear-gradient(-45deg, #555, #434343);
}


.wrapper .item .detailsBox{
  /* Sequences of spaces are combined into one.
  Line breaks are ignored.
  The text content is not wrapped and remains on a single line. */
  white-space: nowrap;
  top: 30px;
  position: absolute;
  visibility: hidden;
  color: #fff;
  border: 2px solid white;
  padding: 10px 10px;
  border-radius: 5px;
  z-index: 1;
}

.wrapper .item .detailsBox .kanjiMain{
  padding: 0 10px 0 0;
  border-right: 1px solid white;
  display: inline-block;
  vertical-align: middle;
}

.wrapper .item .detailsBox .kanjiBig{
  font-weight: 600;
  font-size: 50px;
}

.wrapper .item .detailsBox .kanjiDetails{
  padding: 0 0 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.wrapper .item .detailsBox .kanjiDetails span{
  padding: 0px 5px;
}

.wrapper .item:hover .detailsBox {
  visibility: visible;
}

.wrapper .item .detailsBox.-apprentice{
  background-image: linear-gradient(-45deg, #f0a, #dd0093);
}

.wrapper .item .detailsBox.-guru{
  background-image: linear-gradient(-45deg, #aa38c6, #882d9e);
}

.wrapper .item .detailsBox.-master{
  background-image: linear-gradient(-45deg, #5571e2, #294ddb);
}

.wrapper .item .detailsBox.-enlightened{
  background-image: linear-gradient(-45deg, #0af, #0093dd);
}

.wrapper .item .detailsBox.-burned{
  background-image: linear-gradient(-45deg, #555, #434343);
}



@media only screen and (max-width: 600px) {
  .wrapper {
    grid-gap: 7px;
    grid-template-columns: repeat(8, 1fr);
  }

  .wrapper .item{
    position: static;
  }

  .wrapper .item .detailsBox{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
}

#learnedKanjis > .-section {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

#learnedKanjis > .-section > h3{
  padding: 10px 0px;
  border-bottom: 2px solid;
}

#learnedKanjis > .-section > h3.-apprentice{
  color: #dd0093;
  border-bottom-color: #dd0093;
}

#learnedKanjis > .-section > h3.-guru{
  color: #882d9e;
  border-bottom-color: #882d9e;
}

#learnedKanjis > .-section > h3.-master{
  color: #294ddb;
  border-bottom-color: #294ddb;
}

#learnedKanjis > .-section > h3.-enlightened{
  color: #0093dd;
  border-bottom-color: #0093dd;
}

#learnedKanjis > .-section > h3.-burned{
  color: #434343;
  border-bottom-color: #434343;
}

#learnedKanjis .-toggle{
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 10px;
}

